@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-image: url(./assets/imgs/background.jpg);
  background-image: radial-gradient(circle, #3e3e3e, #515151, #646464, #787878, #8d8d8d, #8d8d8d, #8d8d8d, #8d8d8d, #787878, #646464, #515151, #3e3e3e);
}

.container {
  position: relative;
  height: 100vh;
  background-image: url(./assets/imgs/background.jpg);
  background-size: cover;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}


.form {
  margin-top:10vh;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 5vh;
}

.form__label {
    margin-top: 12px;
    font-size: 24px;
    align-self: start;
  }

.form__title {
    border: none;
    height: 36px;
    border-radius: 4px;
    align-self: stretch;
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  }

.form__content {
    border: none;
    border-radius: 4px;
    align-self: stretch;
    height: 96px;
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  }

  .form__add {
    border: none;
    border-radius: 8px;
    font-size: 36px;
    margin-top: 16px;
  }
    
  .form__add:hover {
      background: silver;
    }

.header {
  width: 100%;
  position: fixed;
  background: rgba(10, 10, 10, 0.253);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  color: white;
  padding: 0;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  align-items: baseline;
}

.fas {
  padding: 12px;
}
.header__brand {
    margin: 0;
    letter-spacing: -2px;
    font-weight: 600;
}

  .navigation__list {
    margin: 0;
    list-style-type: none;
    font-size: 32px;
    display: flex;
}

.navigation__item {
  padding: 0 16px;
}

  .header__button {
    padding: 0 24px;
  }


.main {
  padding: 96px 72px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog {
  width: 100%;
}

.article {
  margin: 80px 0;
  width:100%;
  opacity: 100%;
  transition: 0.2s all ease-in-out;
}

  .article__header {

    margin: 6px;
    font-size: 48px;
}

  .article__area {
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: whitesmoke;
    margin: 0;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 24px;
  }

  .article__button--remove {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 14px;
    transition: all 0.1s ease-in-out;
  }
    
  .article__button--remove:hover {
      background: silver;
      color: rgb(151, 10, 10);
      box-shadow: 6px 6px 14px 1px rgba(00, 00, 00, 0.2);
  }
