@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-image: url(./assets/imgs/background.jpg);
  background-image: radial-gradient(circle, #3e3e3e, #515151, #646464, #787878, #8d8d8d, #8d8d8d, #8d8d8d, #8d8d8d, #787878, #646464, #515151, #3e3e3e);
}

.container {
  position: relative;
  height: 100vh;
  background-image: url(./assets/imgs/background.jpg);
  background-size: cover;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}


.form {
  margin-top:10vh;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 5vh;
}

.form__label {
    margin-top: 12px;
    font-size: 24px;
    align-self: start;
  }

.form__title {
    outline: none;
    border: none;
    height: 36px;
    border-radius: 4px;
    align-self: stretch;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s box-shadow ease;
  }

.form__title:focus {
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.219);
}

.form__content {
    outline: none;
    border: none;
    border-radius: 4px;
    align-self: stretch;
    height: 96px;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s box-shadow ease;
  }

  .form__content:focus {
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.219);
  }

  .form__add {
    outline: none;
    background: silver;
    border: none;
    border-radius: 8px;
    font-size: 36px;
    margin-top: 16px;
    transition: 0.2s all ease-in-out; 
  }
    
  .form__add:hover {
      background: rgb(214, 214, 214);
      box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    }

  .form__add:active {
    color: rgb(148, 148, 148);
    background: rgb(126, 126, 126);
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(00, 00, 00, 0.2);
    }

    .form__error {
      border-radius: 12px;
      padding: 12px;
      align-self: center;
      background: rgb(211, 211, 211);
      color: rgb(177, 55, 55);
      font-size: 32px;
    }

.header {
  width: 100%;
  position: fixed;
  background: rgba(10, 10, 10, 0.253);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  color: white;
  padding: 0;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}

.fas {
  padding: 12px;
}
.header__brand {
    margin: 0;
    letter-spacing: -2px;
    font-weight: 600;
}

  .navigation__list {
    margin: 0;
    list-style-type: none;
    font-size: 32px;
    display: flex;
}

.navigation__item {
  opacity: 0.7;
  transition: all 0.2s ease;
}

.navigation__item:hover {
  transform: scale(1.1);
  opacity: 1;
}

.navigation__button {
  padding: 0 16px;
  color: inherit;
  text-decoration: none;
}

  .header__button {
    padding: 0 24px;
  }


.main {
  padding: 96px 72px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog {
  width: 100%;
}

@keyframes appear {
  0% {
    opacity: 0;
    bottom: 64px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.article {
  margin: 80px 0;
  width:100%;
  position: relative;
  transition: 0.2s all ease-in-out;
  animation: appear .6s ease;
  
}

.header__brandAndBurger {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

  .article__header {
    margin: 6px;
    font-size: 48px;
}

.navigation__burger {
  display: none;
}

.article__header--noArticles {
  text-align: center;
}

  .article__area {
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: whitesmoke;
    margin: 0;
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 24px;
  }

  .article__content {
    width: 90%;
    word-wrap: break-word;
  }

  .article__button--remove {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 8px 14px;
    transition: all 0.05s ease-in-out;
  }
    
  .article__button--remove:hover {
      background: silver;
      color: rgb(151, 10, 10);
      box-shadow: 6px 6px 14px 1px rgba(00, 00, 00, 0.2);
  }


.gallery {
  position: relative;
}
.gallery__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30vh 15vw 5vh;
}

.gallery__container {
  width: 100%;
  margin-top: 4vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  grid-gap: 12px;
}

.gallery__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery__button {
  width: 100%;
  text-align: center;
  font-size: 36px;
  border-radius: 8px;
  background: silver;
  transition: 0.2s all ease-in-out;
  padding: 2px 0;
}

.gallery__button:hover{
  background: rgb(214, 214, 214);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

.gallery__button:active{
    color: rgb(148, 148, 148);
    background: rgb(126, 126, 126);
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(00, 00, 00, 0.2);
}

.gallery__thumbnail{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  transition: 0.4s all ease;
  overflow: hidden;
  border-radius: 6px;
}

.gallery__thumbnail:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);

}

.gallery__remove {
  cursor: pointer;
  border-radius: 0 4px 0 8px;
  font-size: 18px;
  padding: 10px 16px 8px 10px;
  color: #8000008f;
  background: rgba(192, 192, 192, 0.247);
  transition: 0.3s all ease;
  transform: translate(5px, -5px)
}

.gallery__remove:hover{
  transform: scale(1.2) translate(-2px, 2px);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  background: rgba(192, 192, 192, 0.534);
  color: #800000;
}

.gallery__preview {
}

.gallery__image {
  max-width: 90vw;
  max-height: 80vh;
  transition: 0.4s all ease-in;
}

.gallery__image:hover {
  max-width: 98vw;
  max-height: 95vh;
}

.gallery__preview-container{
  background: rgba(0, 0, 0, 0.733);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.preview__button {
  cursor: pointer;
  align-self: flex-start;
  font-size: 36px;
  border-radius: 8px;
  background: silver;
  transition: 0.2s all ease-in-out;
  padding: 4px 24px;
  position: relative;
  bottom: 72px;
  transition: 0.15s all ease-in-out;
}

.preview__button:hover {
  background: rgb(214, 214, 214);
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.644);
  transform: scale(1.05);
}

.preview-active {
  display: none;
}

.fa-trash {
  padding: 0;
}

.gallery__loading{
  height: 3.5vh;
  font-size: 3.5vh;
  margin: 16px 0 0 0;
  text-align: center;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20vh;
  height: 100vh;
  min-height: 80vh;
}

.login__info {
  text-align: center;
}

.login__label{
  font-size: 36px;
  margin-top: 8px;
}

.login__input {
  width: 70vw;
  padding: 8px;
  border-radius: 6px;
  font-size: 24px;
}

.login__form{
  display: flex;
  flex-direction: column;
}

.login__loggedin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__button {
  padding: 8px;
  background: silver;
  border-radius: 6px;
  margin-top: 36px;
  font-size: 30px;

}

@media all and (max-width: 768px){
  .header {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.603);
  }

  .header__brand {
    margin-top: 0;
    font-size: 20px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
  }

  .fa-pen-nib {
    position: relative;
    left: 4px;
    bottom: 0px;
    font-size: 32px;
    padding: 8px 2px 0 8px;
  }

  .main {
    padding: 96px 12px;
  }

  .article__header {
    text-align: center;
    border-radius: 3px;
    position: relative;
    top: 10px;
    margin: 0;
    font-size: 20px;
    letter-spacing: -1.2px;
    background: silver;
    padding: 6px 16px 16px 16px;
  }

  .article {
    margin: 32px 0 ;
  }

  .article__area {
  border-radius: 8px;
  position: relative;
  }

  .article__content {
    margin: 0;
  }

  .navigation__list {
    width: 100%;
    justify-content: flex-start;
    padding: 0;
  }

  .navigation__item {
    width: 50%;
    display: none;
    background: rgba(0, 0, 0, 0.856);
    border-radius: 8px;
    padding: 6px 0;
  }



  .show__menu {
    display: inline-block;
  }


  .navigation__burger {
    display: block;
    padding: 0;
    margin: 6px;
    text-align: center;
    background: silver;
    border-radius: 8px;
  }

  .navigation__button {
    display: block;
    padding-left: 16px;
  }

  .fa-bars {
    padding: 4px;
  }

  .gallery__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17vh 1vw 5vh;
  }

  .gallery__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    margin-top: 1vh;
  }

  .gallery__thumbnail{
    border: 2px solid rgba(36, 36, 36, 0.555);
    border-radius: 2px;
  }
}