@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cuprum', sans-serif;
  background-image: url(./assets/imgs/background.jpg);
  background-image: radial-gradient(circle, #3e3e3e, #515151, #646464, #787878, #8d8d8d, #8d8d8d, #8d8d8d, #8d8d8d, #787878, #646464, #515151, #3e3e3e);
}

.container {
  position: relative;
  height: 100vh;
  background-image: url(./assets/imgs/background.jpg);
  background-size: cover;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}


.form {
  margin-top:10vh;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 5vh;
}

.form__label {
    margin-top: 12px;
    font-size: 24px;
    align-self: start;
  }

.form__title {
    outline: none;
    border: none;
    height: 36px;
    border-radius: 4px;
    align-self: stretch;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s box-shadow ease;
  }

.form__title:focus {
  box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.219);
}

.form__content {
    outline: none;
    border: none;
    border-radius: 4px;
    align-self: stretch;
    height: 96px;
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.075);
    transition: 0.2s box-shadow ease;
  }

  .form__content:focus {
    box-shadow: 10px 10px 14px 1px rgba(0, 0, 0, 0.219);
  }

  .form__add {
    outline: none;
    background: silver;
    border: none;
    border-radius: 8px;
    font-size: 36px;
    margin-top: 16px;
    transition: 0.2s all ease-in-out; 
  }
    
  .form__add:hover {
      background: rgb(214, 214, 214);
      box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    }

  .form__add:active {
    color: rgb(148, 148, 148);
    background: rgb(126, 126, 126);
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(00, 00, 00, 0.2);
    }

    .form__error {
      border-radius: 12px;
      padding: 12px;
      align-self: center;
      background: rgb(211, 211, 211);
      color: rgb(177, 55, 55);
      font-size: 32px;
    }

.header {
  width: 100%;
  position: fixed;
  background: rgba(10, 10, 10, 0.253);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
  color: white;
  padding: 0;
  display: flex;
  font-size: 36px;
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}

.fas {
  padding: 12px;
}
.header__brand {
    margin: 0;
    letter-spacing: -2px;
    font-weight: 600;
}

  .navigation__list {
    margin: 0;
    list-style-type: none;
    font-size: 32px;
    display: flex;
}

.navigation__item {
  padding: 0 16px;
  opacity: 0.7;
  transition: all 0.2s ease;
}

.navigation__item:hover {
  transform: scale(1.1);
  opacity: 1;
}

.navigation__button {
  color: inherit;
  text-decoration: none;
}

  .header__button {
    padding: 0 24px;
  }


.main {
  padding: 96px 72px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog {
  width: 100%;
}

@keyframes appear {
  0% {
    opacity: 0;
    bottom: 64px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.article {
  margin: 80px 0;
  width:100%;
  position: relative;
  transition: 0.2s all ease-in-out;
  animation: appear .6s ease;
  
}


  .article__header {

    margin: 6px;
    font-size: 48px;
}

.article__header--noArticles {
  text-align: center;
}

  .article__area {
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: whitesmoke;
    margin: 0;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 24px;
  }

  .article__button--remove {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px 14px;
    transition: all 0.1s ease-in-out;
  }
    
  .article__button--remove:hover {
      background: silver;
      color: rgb(151, 10, 10);
      box-shadow: 6px 6px 14px 1px rgba(00, 00, 00, 0.2);
  }

  .temp {
    height: 110vh;
  }

.page404 {
  margin-top: 160px;
  position: absolute;
}  

.gallery__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30vh 15vw 5vh;
}

.gallery__container {
  width: 100%;
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  grid-gap: 16px;
}

.gallery__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery__button {
  width: 100%;
  text-align: center;
  font-size: 36px;
  border-radius: 8px;
  background: silver;
  transition: 0.2s all ease-in-out;
  padding: 2px 0;
}

.gallery__button:hover{
  background: rgb(214, 214, 214);
  box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
}

.gallery__button:active{
    color: rgb(148, 148, 148);
    background: rgb(126, 126, 126);
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(00, 00, 00, 0.2);
}